{% extends 'layout.html' %}

{% block content %}
    <div class="form-wrapper">
        <h2 class="title">Edit Records</h2>
        <button onClick="delete_record()">Delete Record</button> 
        <p id="status"></p>
        <form method="POST">
            {{ edit_form.csrf_token }}
            <fieldset class="form-field">
                {% for field in edit_form if field.widget.input_type != 'hidden' %}
                <ul>
                    <li>
                        {{ field.label }}
                        {{ field }}
                    </li>
                </ul>
                {% endfor %}
            </fieldset>
        </form>
    </div>
    <script>
        function delete_record() {
            var urlArray = window.location.pathname.split('/');
            var data = {'id' : urlArray[2] };
            var response = confirm("Are you sure you want to delete this record?")
            if (response=true) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "/api/v1/delete_record", true);
                xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var res = JSON.parse(xhr.response);
                        console.log(res);
                        if (res.status == "true") {
                            document.getElementById("status").innerHTML = "Record has been deleted.";
                        }
                        else {
                            document.getElementById("status").innerHTML = "Record could not be deleted.";
                        }
                    }
                };
                xhr.send(JSON.stringify(data));
                return false;
            }
        }
    </script>
{% endblock %}