{% extends 'layout.html' %}

{% block content %}
    <div class="form-wrapper">
        <h2 class="title">Edit Records</h2>

        <form action="" method="POST">
            {{ edit_form.hidden_tag() }}
            <fieldset class="form-field">
                <li>
                    {{ edit_form.Employee.label }}
                    {{ edit_form.Employee(size=20) }}
                </li>
                <li>
                    {{ edit_form.StartTime.label }}
                    {{ edit_form.StartTime(size=20) }}
                </li>
                <li>
                    {{ edit_form.TableNumber.label }}
                    {{ edit_form.TableNumber(size=20) }}
                </li>
                <li>
                    {{ edit_form.Part.label }}
                    {{ edit_form.Part(size=20) }}
                </li>
                <li>
                    {{ edit_form.Job.label }}
                    {{ edit_form.Job(size=20) }}
                </li>
                <li>
                    {{ edit_form.GoodQuantity.label }}
                    {{ edit_form.GoodQuantity(size=20) }}
                </li>
            </fieldset>
            {{ edit_form.submit }}
        </form>
        <button class="collapsible">Scrap Reasons</button>
        <div class="content">
            <form action="" method="POST">
                {{ scrap_form.hidden_tag() }}
                <fieldset class="form-field">
                    <li>
                        {{ scrap_form.Assembly.label }}
                        {{ scrap_form.Assembly(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.AutoSort.label }}
                        {{ scrap_form.AutoSort(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.BadThreads.label }}
                        {{ scrap_form.BadThreads(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Bent.label }}
                        {{ scrap_form.Bent(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Blisters.label }}
                        {{ scrap_form.Blisters(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.BrokenCore.label }}
                        {{ scrap_form.BrokenCore(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Buffing.label }}
                        {{ scrap_form.Buffing(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Contamination.label }}
                        {{ scrap_form.Contamination(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.DamagedDie.label }}
                        {{ scrap_form.DamagedDie(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Debris.label }}
                        {{ scrap_form.Debris(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Dimensional.label }}
                        {{ scrap_form.Dimensional(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Flash.label }}
                        {{ scrap_form.Flash(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.GateVestige.label }}
                        {{ scrap_form.GateVestige(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.HeatSinks.label }}
                        {{ scrap_form.HeatSinks(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.EjectorPinLength.label }}
                        {{ scrap_form.EjectorPinLength(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Lamination.label }}
                        {{ scrap_form.Lamination(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.LeakTest.label }}
                        {{ scrap_form.LeakTest(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.MixedParts.label }}
                        {{ scrap_form.MixedParts(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Other.label }}
                        {{ scrap_form.Other(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.PartDamage.label }}
                        {{ scrap_form.PartDamage(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.PartsNotTapped.label }}
                        {{ scrap_form.PartsNotTapped(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.PartsOnGates.label }}
                        {{ scrap_form.PartsOnGates(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Plating.label }}
                        {{ scrap_form.Plating(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.PoorFill.label }}
                        {{ scrap_form.PoorFill(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Porosity.label }}
                        {{ scrap_form.Porosity(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Skiving.label }}
                        {{ scrap_form.Skiving(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Soldering.label }}
                        {{ scrap_form.Soldering(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.StartUp.label }}
                        {{ scrap_form.StartUp(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.SurfaceFinish.label }}
                        {{ scrap_form.SurfaceFinish(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.TrimDamage.label }}
                        {{ scrap_form.TrimDamage(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.Weight.label }}
                        {{ scrap_form.Weight(size=20) }}
                      </li>
                      <li>
                        {{ scrap_form.WrongPart.label }}
                        {{ scrap_form.WrongPart(size=20) }}
                      </li>
                </fieldset>
                {{ scrap_form.scrap_submit }}
            </form>
        </div>
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                  content.style.maxHeight = null;
                } else {
                  content.style.maxHeight = content.scrollHeight + "px";
                } 
              });
            }
        </script>
    </div>
{% endblock %}