{% extends 'layout.html' %}

{% block content %}
    <div class="form-wrapper">
        <h2 class="title">Edit Records</h2>
        <button onClick="delete_record()">Delete Record</button> 
        <p id="status"></p>
        <form method="POST">
            {{ edit_form.csrf_token }}
            <fieldset class="form-field">
                {% for field in edit_form if field.widget.input_type != 'hidden' %}
                <ul>
                    <li>
                        {{ field.label }}
                        {{ field }}
                    </li>
                </ul>
                {% endfor %}
            </fieldset>
        </form>
    </div>
{% endblock %}