{% extends 'layout.html' %}

{% block content %}
    <div class="form-wrapper">
        <h2 class="title">Search</h2>

        <form method="GET" action="{{ url_for('records') }}">
            {{ form.csrf_token }}

            <fieldset class="form-field">
                {% for field in form if field.widget.input_type != 'hidden' %}
                <ul>
                        {{ field.label }}
                        {{ field }}
                </ul>
                {% endfor %}
            </fieldset>
        </form>
    </div>
{% endblock %}